* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    
}

.col {
  /*   height: 40rem; */
    outline: 2px solid black;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.35rem;
}

.col ul {
    text-align: center;
}

.shopping-list {
   /*  width: 30rem; */
    outline: 2px solid black;
    border-radius: 0.35rem;
}

h1 {
    display: flex;
    justify-content: center;
    margin: 8% 9% 0% 9%;
    outline: 1px solid black;
    border-radius: 0.35rem;
    padding: 0.359rem;
}

ol {
    margin: 2.5em;
    background: #3399ff;
    padding: 15px 25px 15px;
    list-style-type: none;
}

li{
    font-size: 30px;
    letter-spacing: 2.5px;
    
}

ol li {
    background: #cce5ff;
    color: darkblue;
    margin: 10px 0px 15px;
    text-align: center;
    padding: 5px;
    border-radius: 0.359rem;
}

ol li:hover{
    background: black;
    color:  #7ab9fc;
    border-radius: 2rem;
   
}